{% extends 'base.html' %}
{% block content %}
<div class="page-header">
    <h1>Stores
        <small>list of supported stoers</small>
    </h1>
</div>
<div class="list-group">
    {% for stores in stores %}

        <a href="{{ url_for('stores.store_page', store_id=stores._id) }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ stores.name }}</h4>
            <p class="list-group-item-text">All URLs in this store should start with <strong>{{ stores.url_prefix }}</strong></p>
        </a>
    {% endfor %}
</div>
<a class="btn btn-success" href="{{ url_for('stores.create_store') }}"><span class="glyphicon glyphicon-plus"></span> Create Store</a>
{% endblock %}